h1 1.0 Biochemistry and the Language of Chemistry

section.header
  h2 Objectives
  ol
    li Know the properties of life
    li Know the macromolecules and their monomeric components
    li Understand the hierarchy of biomolecules
    li Know the differences between prokaryotes and eukaryotes

article
  section
    h2 1.1 The Science of Biochemistry
    p
      | The roots of biochemistry can be traced thousands of years into human history,
      | long before we understood the scientific mechanisms. Before the work of
      | Friedrich Wohler, it was believed that substances were either of biological or
      | nonliving origins, and that the two were fundamentally different.
      | Wohler's 1828 breakthrough was to synthesize urea from ammonium cynate, proving
      | that the difference between types of substances may be less than previously thought.
    p
      | A second important development in the field of biochemistry was that of
      | Louis Pasteur, who devised methods for excluding bacteria in fermentation mixtures.
      | Though still believing in "vitalism", the view that biological reactions require
      | a supernatural force, Pasteur recognized that certain organisms provide different
      | products in fementation, such as yeast's ability to convert sugar into alcohol in winemaking.
    p
      | Through the early work in genetics by Gregor Mendel, and later the advances in
      |  our knowledge of DNA by James Watson and Francis Crick, it was recognized that
      | DNA provided a storage mechanism for an enormous amount of genetic information.
    p
      | Biochemistry is largely a science that depends on results of experiments, unlike
      | more theoretical sciences such as physics. Biochemistry has benefited greatly
      | from technological advances that allow more information to be elucidated in experiments.
      | For example, X-ray diffraction was key to the discovery of DNA's double helix structure.

  section
    h2 1.2 The Elements and Molecules of Living Systems
    p
      | An astounding fact of biochemistry is that it is only possible through
      | the death of stars. The early universe was abundant in only the lightest
      | elements, which condensed into stars and formed into heavier elements
      | through thermonuclear reactions in stars. These elements are released when
      | the star dies and recondenses into planets and smaller stars.
    p
      | Life depends heavily on elements that are only created in these stellar forges,
      | such as Carbon, Oxygen, Nitrogen, and Phosphorous. These elements existed in
      | a "primodial soup" for billions of years on Earth, before some event was able
      | to assemble these simple molecules into a self-replicating structure.
      | It is believed RNA may be based on these early stuctures.
    p
      | Simple molecules are usually combined into macromolecules in lifeforms, either
      | in biopolymers or lipids. Biopolymers are carbohydrates, proteins, and nucleic
      | acids that have assembled into larger chain-like structures. Lipids, or fats,
      | are hydrogen-carbon chains that are important in cellular functioning.

  section
    h2 1.3 Distinguishing Characteristics of Living Systems
    p
      | What is life? The answer is debated between biochemists even today, but one
      | biochemist, Daniel Koshland, suggests there are seven "pillars" of life.
      | The pillars, such as "improvisation" and "regeneration", provide a framework
      | for determining life. However, these pillars are not agreed on by all biochemists,
      | and viruses pose an interesting example where not all scientists agree are alive.

  section
    h2 1.4 The Unit of Biological Organization: The Cell
    p
      | In 1665, Robert Hooke indentified a cellular structure in plants that we know
      | today as cell walls. When Theodor Schwann discovered evidence that animals are
      | also made up of cells, it was theorized that all organisms are either cells or
      | groups of cells, which we know is true today.
    p
      | The main types of cells are prokaryotes and eukaryotes. Prokaryotic cells lack
      | internal subdivisions, or organelles, that eukaryotes posesses. Organisms can be
      | single cells, or multicellular, consisting of many different types of cells.

  section
    h2 1.5 Biochemistry and the Information Explosion
    p
      | Technology and information have been very beneficial for biochemistry.
      | Through knowledge of chemical reactions and biological processes, biochemists
      | have been able to identify important pathways of metabolism.
    p
      | Other related fields have also benefited, such as bioinformatics, genomics, and proteomics.
      | The future for biochemistry is bright, with cutting-edge technology such as synthetic biology on the horizon.

style
  include:scss conspectus.scss
