h1 2.0 The Chemical Foundation of Life

section
  h2 Objectives
  ol
    li Understand the importance of water
    li Know the physical properties of water
    li Understand the hydrophobic effect in thermodynamic terms
    li Know weak interactions in biomolecules
    li Understand the basic acid-base chemistry
    li Know the Henderson-Hasselbalch equation and be able to use it in buffer systems

section
  h2 2.1 The Importance of Noncovalent Interactions in Biochemistry
  p
    | While covalent interactions are absolutely needed for many biological processes,
    | noncovalent bonds are extremely important as well. For example, the sequence of
    | DNA is maintained by covalent bonds, while the structure itself is a result of noncovalent forces.
  p
    | Noncovalent interactions are substantially weaker than covalent bonds, usually
    | on the order of 10 to 100 times weaker. However, this weakness is essential
    | for life, as it allows bonds to be formed, broken, and reformed without a huge input of energy.

section
  h2 2.2 The Nature of Noncovalent Interactions
  p
    | Noncovalent interactions are electrostatic in nature, depending on electric charges
    | to determine attractive and repulsive forces. There are three main types of noncovalent bonds:
  ol
    li Charge-Charge Bonds (13-17 kJ/mol)
    li Dipole and Induced Dipole Bonds (0.4-0.8 kJ/mol)
    li Hydrogen Bonds (2-21 kJ/mol)
  p
    | Charge-charge bonds, also know as ionic bonds or salt bridges, are present in
    | molecules with net electrical charges. A molecule with a net positive electrical
    | charge is attracted to molecules with net negative electrical charges, and
    | this interaction is common in biological environments.
  p
    | Dipole and induced dipole interactions are much weaker forces present in
    | molecules with no net electrical charge, but have asymmetric internal charge distributions.
    | An example is water, a polar molecule with no net charge. These forces are
    | also known as Van Der Waals interactions, or London Dispersion forces.
  p
    | The last noncovalent bond is the hydrogen bond, a typically weak interaction
    | that can become very powerful in certain molecule structures. Hydrogen bonds
    | are the most important factor for explaining the unusual features of water
    | compared to similar molecules.

section
  h2 2.3 The Role of Water in Biological Processes
  p
    | Water is a unique substance among similar molecules, primarily due to
    | hydrogen bonding. Water remains liquid at much higher temperatures than other
    | small molecules that rapidly turn into gases in typical environments on Earth.
  p
    | Water also has a higher heat capacity, and is less dense when solid, all due
    | to the effects of hydrogen bonds. These properties are very important for life.
    | For example, if solid water was more dense than liquid water, like most substances,
    | the polar ice caps would not float, which could cause extreme cooling
    | of the planet as ice would be insulated under water.
  p
    | Water is also an excellent solvent for ionic compounds due to its polarity and
    | ability to act as both an acid and base. It is no surprise that living organisms
    | are largely made of water due to its versatility as an ionic solvent.

section
  h2 2.4 Acid-Base Equilibria
  p
    | Using the Bronsed-Lowry definition of acids and bases as proton donors
    | and acceptors, respectively, water can act as both an acid and base under different conditions.
  p
    | Most biochemical processes take place in a fairly narrow range, defined by
    | a pH in the range of 6.5-8.0, known as the "physiological pH range".
    | To maintain this narrow range, lifeforms use chemical buffers to reduce changes in pH.
  p
    | Buffers are combinations of weak acids and their conjugate bases in ratios
    | appropriate for absorbing ions from the environment while reducing the change in pH.

section
  h2 2.5 Interactions Between Macroions in Solution
  p
    | Macroions are large polyelectrolytes, such as nucleic acids, that may carry net
    | electrostatic charges. Changes in pH can influence these forces and allow
    | molecules to interact as they get closer together.
  p
    | These interactions can be strongly influenced by small ions such as salts.
    | For this reason, biochemists must pay close attention to both ionic strength and pH.

style
  include:scss conspectus.scss
