h1 3.0 Free Energy

h2 3.1 Free Energy

p Biochemical processes are driven by thermodynamic forces that govern the chemical reactions. There are two important laws of thermodynamics that are especially relevant to this branch of biochemistry (bioenergetics):

ol
  li Energy is conserved inside an isolated system
  li Systems proceed towards maximum entropy

p Thermodynamic systems can be defined as isolated, open, or closed,and consists of the system itself and its surroundings.

p Energy is defined as the ability to do work in a system, and Free Energy (\(\Delta G\)) is defined as the _available_ energy in a system. From $\Delta G$ we can determine if a process requires energy or releases it, and how much energy is released.

p Enthalpy (\(\Delta H\)) is the measure of heat released by a reaction under constant pressure:

p $$\Delta H = H*{final} - H*{initial}$$

p Entropy is a measure of the disorder in a system, or stated another way, how randomly arranged its components are:

p Enthalpy and entropy are the primary state functions involved in bioenergetics and can tell us if a reaction is favorable, the direction of the reaction, and the energy required or released.

h2 3.2 Free Energy: The Second Law In Open Systems

p In organisms, energy and matter are constantly exchanged with the environment, and so are not isolated systems. Living organisms must maintain a complex set of reactions that require ongoing energy input from the environment. In turn, organisms release heat that increases the entropy of the universe.

p Reactions that are favorable at a constant temperature and pressure have negative free energy, and are said to be _exergonic_ reactions. In contrast, _endergonic_ reactions have a positive $\Delta G$ and are not favorable at the given conditions.

h2 3.3 The Relationships Between Free Energy, the Equilibrium State, and Non-Equilibrium Concentrations of Reactants and Products

p Equilibrium is a condition where a system has achieved a state of minimal energy, and the system will tend to remain at equilibrium until an external force is applied. Even with outside influence, systems will eventually tend towards the equilbrium state again, known as Le Chatelier's Principle.

p Changes in equilbrium can be caused by changes in concentration gradients, which will influence the value of $\Delta G$. Many biological processes work by maintaining for altering a concentration gradient, such as sodium and potassium transport in neurological processes.

h2 3.4 Free Energy in Biological Systems

p Every biological process must be thermodynamically favorable. Often, reactions are not favorable at biochemical standard conditions, and so a process is needed to modify the conditions of the reaction or the environment. Coupling an unfavorable reaction to a highly favorable one can allow the reaction to proceed under standard conditions.

p $\Delta G$ can also be calculated for a class of reactions known as reduction and oxidation reactions (redox).

p $$\Delta G^{\circ\prime} = -nF\Delta E^{\circ\prime} = -nF[E^{\circ\prime}_{(e^- acceptor)} - E^{\circ\prime}_{(e^- donor)}] $$

style
  include:scss conspectus.scss
