h1 4.0 Nucleic acids

h2 Objectives

ol
  li Know functions and structures of nucleotides
  li Know functions and structures of nucleic acids
  li Understand nucleic acid sequencing
  li Understand cloning, PCR, and DNA fingerprinting

section
  h2 4.1 Nucleic Acids - Informational Macromolecules
  p
    | Deoxyribonucleic acid (DNA) and Ribonucleic Acid (RNA) are some of the most
    | important molecules and biochemistry. These molecules are know as polynucleotides,
    | polymers linked by phosphodiester bridges, and form the basis of all genetic
    | information in organisms.

  p
    | DNA and RNA are formed from nucleotides, which are formed from nucleosides
    | linked to a phosphate group. All nucleotides contain three components:

  ol
    li A purine or pyrimidine base
    li A deoxyribose or ribose sugar
    li a phosphate bond

  p
    | Purine bases include adenine and guanine, while pyrimidine bases include
    | cytosine, thymine, and uracil. These five bases contain the genetic code
    | of all living organisms, and their order, within DNA and RNA, accounts for
    | all the difference between forms of life on Earth.

section
  h2 4.2 Primary Structure of Nucleic Acids
  p
    | Polynucleotide chains have some distinct and important primary features,
    | including <i>directionality</i> and <i>individuality</i>. Directionality
    | refers to the fact that the phosphodiester link is always between 3' and
    | 5' carbons, which gives the chain two distinguishable ends. Individuality
    | refers to the specific sequence of nucleotide bases, also known as the primary
    | structure of the nucleic acid.

section
  h2 4.3 Seconday and Tertiary Structures of Nucleic Acids
  p
    | The secondary structure of a nucleic acid is the three-dimensional structure
    | of the individual nucleotide bases, while the tertiary structure is the
    | description of longer-range interactions such as supercoiling.

  p
    | In the case of DNA, the secondary structure is the famous double helix,
    | deduced by scientists Watson and Crick using metrics such as the
    | statistical distribution of base pairs and X-ray analysis.

  p
    | The DNA commonly found in cells is known as B form, or B Helix, and is the
    | form Watson and Crick originally studied. However, another tertiary form
    | exists, A form, seen in double-stranded RNA molecules and DNA-RNA hybrids.
    | DNA also often forms  structures, and tightly coiled states known as
    | <i>supercoiled</i> molecules.

section
  h2 4.4 Alternative Secondary Structures of DNA
  p
    | Both DNA and RNA have additional alternative secondary structures.
    | Left-handed DNA (Z-DNA) is a form of DNA that forms
    | a zig-zag structure instead of the typical double-helix.
    | Other atypical forms include double hairpins (cruciforms), triple helices,
    | and g-quadruplexes.

section
  h2 4.5 The Helix-to-Random Coil Transition
  p
    | Environmental conditions such as temperature can cause loss of secondary
    | structure in nucleic acids, a process called denaturation. This change is
    | often reversible, and under controlled conditions can reform in a process
    | called renaturation, or annealing.

section
  h2 4.6 The Biological Functions of Nucleic Acids
  p
    | DNA and RNA are required for three major biological processes, <i>replication</i>,
    | <i>transcription</i>, and <i>translation</i>. In replication, DNA molecules are
    | copied when a cell divides, providing each with a high-fidelity transmission
    | of genetic information.

  p
    | RNA is used in transcription in the form of messenger RNA (mRNA) to create
    | complementary bases from DNA molecules. These mRNA molecules are then
    | processed in translation, a process that creates amino acids from specific
    | three-base sequences known as codons.

  p
    | Cloning is a process that extracts DNA sequences from a parent cell, processes
    | it and links it together with additional manufactured fragments, and introduces
    | it into a host cell. In this way, genes, or even entire genomes, can be copied.

  p
    | When a single strand of genetic material needs to be copied, biochemists
    | can rely on a process known as polymerase chain reaction (PCR). This technique
    | combines short DNA strands (primers) and a DNA polymerase in a repeating
    | heating and cooling cycle to encourage formation of specific complementary sequences.

  p
    | Since the advent of cheaper and more reliable DNA sequencing techniques, genetic
    | material is now often to identify individuals and unique DNA characteristics. This
    | widely used laboratory technique is known as DNA fingerprinting.

style
  include:scss conspectus.scss
