h1 5.0 Introduction to Proteins

h2 Overview

ol
  li Know the structures and be able to draw and name all AA’s
  li Know the pKa ranges of all AA’s.
  li Understand ionization and be able to calculate isoelectric points (pI’s) of oligopeptides
  li Read how the nonstandard AA’s are made and used
  li Know the polypeptide formation and understand the polypeptide diversity
  li Understand protein purification techniques
  li Understand protein sequencing
  li Read about the protein evolution

section
  h2 5.1 Amino Acids
  ul
    li structure alpha-aminos
    li zwitterion
    li stereochem
    li names
    li side chains
    li modified aminos

section
  h2 5.2 Peptides and the Peptide Bond
  ul
    li peptide bond

section
  h2 5.3 Proteins: Polypeptides of Defined Sequence
  ul
    li aka primary structure
    li conservative vs non
    li insulin

section
  h2 5.4 From Gene to Protein
  ul
    li DNA -> mRNA -> proteins
    li 4^3 (64) combos
    li nearly all orgs use same codons
    li prost-translation

section
  h2 5.5 From Gene to Sequence to Protein Function
  ul
    li systems bio
    li genome sequencing
    li genbank, pdb

section
  h2 5.6 Protein Sequence Homology
  ul
    li phylogenetics

style
  include:scss conspectus.scss
