h1 6.0 The Three-Dimensional Structure of Proteins

h2 Overview

ol
  li Know the 4 levels of structural complexity of proteins
  li Understand the properties of a peptide bond
  li Know the a helix and b sheet structures
  li Know the structures of a keratin, b silk fibroin, and collagen
  li Be familiar with coils, bulges, turns, loops, and cross-overs
  li Read about X-ray crystallography and NMR
  li Be familiar with common supersecondary motifs
  li Understand the forces holding 3D & 4D structures
  li Understand protein folding

section
  h2 6.1 Secondary Structure
  ul
    li alpha helices
    li beta sheets
    li ramachandran plots

section
  h2 6.2 Fibrous Proteins
  ul
    li keratins
    li fibroin
    li collagen

section
  h2 6.3 Globular Proteins
  ul
    li folding
    li domains
    li turns

section
  h2 6.4 Factors Determining Secondary and Tertiary Structure
  ul
    li folding and denaturation
    li thermodynamics of folding
    li conformational energy
    li internal H bonds
    li van der waals
    li hydrophobic effect
    li disulfide bonds and stability
    li prosthetic groups, ion bonding, protein stability

section
  h2 6.5 Dynamics of Globular Protein Structure
  ul
    li kinetics
    li landscape
    li intermediate and off-pathway states
    li chaperones in vivo
    li misfolding and disease
    li prions

section
  h2 6.6 Prediction of Protein Secondary and Tertiary Structure
  ul
    li predict 2nd
    li predict 3rd

section
  h2 6.7 Quaternary Structure of Proteins
  ul
    li homotypic interactions
    li heterotypic

style
  include:scss conspectus.scss
