h1 7.0 Protein Function and Evolution

h2 Objectives

ol
  li Know the structure and action of antibodies.
  li Understand the multiple functions of proteins.
  li Know how structure and function relate in myoglobin and hemoglobin.
  li Know the effects of pH, [CO2], BPG (adult vs. fetal), and E to V substitution on hemoglobin and its O2 binding.
  li Understand both cooperativity models.
  li Understand the structure of a sarcomere.
  li Know the mechanism and regulation of muscle contraction.

section
  h2 7.1 Structure and Action of Antibodies
  p
    | Antibodies, or immunoglobulins, are proteins produced by an animal's immune system.
    | These molecules bind to foreign substances during an immune response to protect the host organism.
    | In an adaptive immune response, lymphatic cells called B lymphocytes secrete antibodies
    | designed to bind to specific invading substances.
  p
    | Epitopes, or antigenic determinates, are sites on the surface of foreign
    | substances where antibodies may bind, and usually consist of carbohydrate or amino acid groups.
    | After initial exposure to an antigenic substance, some B lymphocyte cells known as
    | memory cells will presist long after the antigen is no longer present. This
    | ensures rapid immune response to future infections.
  p
    | In B lymphocyte cells, structures known and light and heavy chain sequences are combined
    | to form the structure of the antibody. These polypeptide chains can be rearranged to form
    | a variety of sequences, and therefore, a variety of antibodies to bind with many
    | different foreign substances.

section
  h2 7.2 Functions of Proteins
  p
    | In the body, proteins serve a wide variety of purposes and important functions. Some proteins
    | function as enzymes to catalyze biochemical reactions, such as ribonuclease A. Other proteins
    | serve as regulatory proteins such as insulin, transport proteins such as myoglobin and hemoglobin,
    | storage proteins such as ovalbumin.
  p
    | Structural proteins are found throughout the body in collagen, while contractile proteins
    | form the muscles and power movement. Adaptor proteins such as SH3 and AKAP serve as chemical
    | messengers, and protective proteins such as immunoglobulins protect the host from foreign substances.
    | Finally, proteins can be found in exotic forms, such as antifreeze and glue.

section
  h2 7.3 How Structure and Function Relate in Myoglobin and Hemoglobin
  p
    | Myoglobin is a monomeric heme, a structural motif consisting of a polypeptide chain
    | wrapped around a heme group. The heme group contains an /( O_2 /) binding site that allows
    | myoglobin to bind and release oxygen in body tissues.
  p
    | Likewise, hemoglobin is a heme, but consists of a tetrameric motif. Hemoglobin is used
    | to transport oxygen from the lungs to the rest of the body, and also carbon dioxide back
    | to the lungs to be exhaled. Hemoglobin has two states, a T state (low oxygen affinity), and
    | an R state (high oxgygen affinity), which it oscillates between during the Perutz mechanism.
    | In this mechanism, bound oxygen alters the structure of the hemoglobin due to steric strain.

section
  h2 7.4 Effects of pH, [CO2], BPG, and E to V Substitution on Hemoglobin
  p
    | Hemoglobin function is driven by environmental conditions such as pH, temperature, and pressure.
    | The pH of the environment plays in important role during physical exercise, where
    | exhausted muscles secrete lactic acid as a response to an oxygen deficit in the surrounding tissues.
    | The acid lowers the pH of the tissues, which acts as a signal to deliver more oxygen via the Bohr Effect.
  p
    | Carbon dioxide can lower the oxygen binding affinity of hemoglobin via the carbamation reaction. When carbon
    | dioxide concentration increases in tissues, some may bind to the N-terminal of hemoglobin, releasing hydrogen
    | ions that contribute to the Bohr effect. These hemoglobin molecules then transport the carbon dioxide back
    | to the lungs to be exhaled.
  p
    | The molecule 2,3-Bisphosphoglyceric acid (BPG) can be used to lower the oxygen affinity of hemoglobin. It binds
    | with deoxygenated hemoglobin more readily and promotes the release of oxygen molecules, which allows red bloods cells
    | to release oxygen near the tissues that need it most.

section
  h2 7.5 Cooperativity Models
  p
    | The unique constraints for an oxygen-transporting molecule require specific properties and
    | tolerances. In hemoglobin, the molecule must be saturated at a specific temperature and pressure,
    | and must reserve oxygen for periods of high physical demands. Hemoglobin accomplishes
    | this through cooperative interactions at the oxygen bind sites.
  p
    | The exact mechanism of this cooperation is still unknown, but there are several leading theories.
    | In sequential models, oxygenation progresses by changing conformations in sequence, while concerted,
    | multistate, and dynamics models allow for more variability in the mechanism's progression.

section
  h2 7.6 Sarcomere Structure
  p
    | Sarcomeres are the basic structures of muscle tissue, separated in muscle fibers by the
    | Z lines. Between these lines lie two types of filaments, thin filaments and thick filaments,
    | composed of the proteins myosin and actin, respectively.
  p
    | Actin molecules bind to the Z line, while myosin is interwoven between two actin filaments, holding
    | them together as a single unit, the sarcomere. The region where the myosin and actin filaments
    | intersect is called the A band, and the sections between A bands are called I bands.

section
  h2 7.7 Mechanism and Regulation of Muscle Contraction
  p
    | During muscle contraction, binding sites on the actin molecules are exposed by removing the protein
    | tropomyosin. This action is facilitated by changing the structure of the protein with calcium ions
    | in a process called calcium-induced calcium release (CICR).
  p
    | Once the binding sites are exposed, the myosin protein heads bind and perform a muscle contraction.
    | After contraction, the myosin heads relax, releasing ADP and a phosphate ion. When a new ATP molecule
    | binds to the myosin, the heads release from the binding sites, and a muscular recovery stroke occurs.

style
  include:scss conspectus.scss
