h1 8.0 Enzymes: Biological Catalysis

h2 Objectives

ol
  li Know the general properties of enzymes.
  li Know various catalytic mechanisms.
  li Know the transition state diagram.
  li Understand the transition state inhibitors and catalytic antibodies.
  li Understand the Philip’s mechanism of lysozyme action.
  li Understand the catalytic triad mechanism of serine proteases.
  li Know Michaelis-Menten kinetics.
  li Understand how to analyze kinetic data.
  li Know three types of enzyme inhibition.
  li Understand regulation of enzyme activity

section
  h2 8.1 General Properties of Enzymes
  p
    | Enzymes are biological catalysts used to increase the velocity of biochemical reactions.
    | Unlike chemical catalysts, enzymes have different catalytic power, specificity,
    | reaction conditions, and ability to be regulated. These properties give cells
    | the ability to modify kinetic properties of reactions in the body.
  p
    | Biochemists classify enzymes by the type reaction they catalyze. There are six major
    | types of enzymes:
  ol
    li Oxidoreductases
    li Transferases
    li Hydrolases
    li Lyases
    li Ligases
    li Isomerases

section
  h2 8.2 Catalytic Mechanisms
  p
    | Enzymes catalyze reactions using one or more mechanisms in the body. Some mechanisms
    | facilitate acid/base reactions, such as peptide hydrolysis by chymotrypsin. Chymotrypsin
    | also participates in covalent catalysis.
  p
    | In electrostatic stabilization, enzymes serve to stabilize molecules in their transition states,
    | which lowers the required activation energy for the reaction. Metal ion catalysis assist in several
    | ways or can inhibit reactions. Other enzymes catalyze reactions by physically orienting molecules
    | to initiate the reaction.
  p
    | In general, enyzmes bind more tightly to transition states. On a reaction coordinate diagram, enzyme
    | activity is often reflected by stabilization of the transition state. Steric strain, desolvation, and
    | entropy loss can be used to destabilize the catalyzed energy state.

section
  h2 8.3 Transition State Inhibitors and Catalytic Antibodies
  p
    | Enzymes are not used up during catalysis, so regulating enzymatic activity requires
    | deactivation of the enzyme. In transition state inhibitors, a molecule that mimics
    | the reactant enters the active site on an enzyme and binds to it. This causes the
    | enzyme to change its shape and transition state, preventing its enzymatic activity.

section
  h2 8.5 Philip’s Mechanism
  p
    | The enzyme lysozyme is used to hydryolyze glycosidic bonds between N-acetylmuramic acid (NAM)
    | and N-acetylglucosmine (NAG) in bacterical cell walls.

section
  h2 8.6 Catalytic Triad Mechanism
  p
    | The body contains a number of enzymes known as serine proteases. These enzymes are used to
    | cleave polypeptides at specific sites, depending on the enzyme structure. One of these
    | proteases, chymotrypsin, a digestive enzyme used to break down proteins in food, uses
    | a catalytic triad to perform its catalysis.
  p
    | The catalytic triad mechanism requires three amino acids in a specific structure at the
    | enzyme's binding site to work together. The serine residue is used to cleave peptide bonds,
    | while histidine and aspartic acid work together to deprotanate serine, giving it the charge
    | necessary to briefly form a covalent bond with the peptide bond. A water molecule is then
    | activated by histidine, and the oxgygen of the water attacks the serine carbonyl, releasing
    | the protein fragment and regenerating the serine hydroxyl group.

section
  h2 8.7 Michaelis-Menten Kinetics
  p
    | Enzyme kinetics can be described using Michaelis-Menten kinetics, a system of relating
    | reaction rate to substrate concentration. The model makes three key assumptions:
  ul
    li
      | <u>Assumption of equilibrium</u> - This assumption states that a reversible
      | enzyme-substrate complex is formed, which then dissociates further.
    li
      | <u>Steady state assumption</u> - The steady state assumption states that the
      | enzyme-substrate complex forms at the same rate that it disappears.
    li
      | <u>Initial velocity assumption</u> - The formation of products should be very
      | energetically favored, implying that products do not readily reform the original reactants.

  p
    | The Michaelis-Menten equation describes the relationship between reaction rate
    | and substrate concentration:
    | \[ v = \frac{V_{max}[S]}{K_M + [S]} \]

section
  h2 8.8 Analyzing Kinetic Data
  p
    | Enzyme kinetics are described by several features that are used to relate reaction
    | velocity to the concentrations of enzyme and substrate:
  ul
    li <u>Km</u> - The Michaelis constant, derived from the rate constants \( (k_{-1} + k_2) / k_1 \)
    li <u>Vmax</u> - Theoretical maximum rate of the reaction, when the reactants and products are balanced under optimal conditions
    li <u>Kcat</u> - Turnover rate, equal to the number of reactions per unit of time
    li <u>Catalytic Efficiency</u> - \( K_{cat} / K_M \), an estimate of how effective the enzyme is

section
  h2 8.9 Three Types of Enzyme Inhibition
  p
    | Since enzymes are not consumed, they must be inhibited when their catalytic
    | mechanisms are not necessary. There are two main types of enzymatic inhibition
    | in the body, irreversible and reversible. There are also three subtypes of reversible
    | inhibition in the body, competitive, uncompetitive, and noncompetitive.
  h3 Competitive
  p
    | In competitive inhibition, the inhibitor I binds only to the enzyme E. This binding
    | can prevent or reduce enzymatic activity by blocking the active site or by changing
    | it to be less catalytic.
  h3 Uncompetitive
  p
    | Uncompetitive inhibition is a hypothetical type of inhibition where the inhibitor I
    | binds to the enzyme-subtrate complex.
  h3 Noncompetitive
  p
    | Also called mixed inhibition, in noncompetitive inhibition the inhibitor I binds to
    | either the enzyme E and/or to the enzyme-substrate complex.

section
  h2 8.10 Understand regulation of enzyme activity
  p
    | Enzyme activity is regulated by a variety of factors in the body, some due
    | to the reactions themselves, others due to intentional influence from the
    | body or medications. For example, as product accumulates, the reaction rate
    | slows. Other influences include substrate availability and genetic controls.
  p
    | Effectors can alter enzyme activity through covalent modification or through
    | allosteric effects, altering the enzymes shape and structure. Finally, other
    | molecules such as zymogens, isozymes, and modulator proteins can change enzyme
    | activity.

style
  include:scss conspectus.scss
