h1 9.0 Carbohydrates

h2 Objectives

ol
  li Know classification of monosaccharides and their general names
  li Understand the properties and know structures of some monosaccharides
  li Know the reactions of hemiacetal and hemiketal formation
  li Recognize reducing sugars and the a and b glycosidic linkages
  li Know structural and storage polysaccharides
  li Understand the functions of glycoproteins

section
  h2 9.1 Classification of monosaccharides and their general names
  p
    | Monosaccharides are carbohydrates, simple sugars, containing a single saccharide
    | unit that cannot be easily broken down. They are the most basic units of
    | carbohydrates, with a general formula \( C_n H_{2n} O_n \).
  p
    | Monosaccharides are classified by the number of carbons atoms they contain.
    | Some examples of monosaccharide classes are triose, tetrose, pentose, hexose, heptose, etc.,
    | with the prefix denoting the number of carbon atoms. Monosaccharides containing more
    | then eight carbons are rare due to their molecular instability.

section
  h2 9.2 The properties and structures of some monosaccharides
  p
    | One of the most important monosaccharides, glucose, is an example of a hexose. Like many
    | monosaccharides, glucose is found in both a linear form and a cyclic form. The cyclic form
    | of glucose is more stable, and therefore much more common than the linear form.
  p
    | Monosaccharides can contain aldehyde groups (aldoses) or ketone groups (ketoses). Aldoses and
    | ketoses can contain chiral carbons, meaning they may form enantiomers, diastereoisomers, and
    | epimers. Chirality is denoted using <b>D</b> or <b>L</b>, which indicates the configuration
    | of the stereogenic carbon furthers from the aldehyde or ketone groups.

section
  h2 9.3 The reactions of hemiacetal and hemiketal formation
  p
    | Both aldoses and ketoses often react intramolecularly to form cyclic versions of
    | these monosaccharides. When an aldose cyclizes it forms a hemiacetal group between
    | a hydroxyl group and a carbon at the other end of the linear form, while ketoses
    | form hemiacetal groups when cyclizing.
  p
    | The cyclic forms of these monosaccharides are far more common than the linear
    | configurations due to increased stability. When the aldose or ketose cyclizes,
    | a new bond is formed via nucleophilic addition, it can form either an alpha
    | or beta configuration.

section
  h2 9.4 Recognize reducing sugars and the \( \alpha \) and \( \beta \) glycosidic linkages
  p
    | Sugars with free aldehyde or ketone groups are known as reducing sugars, and can reduce
    | oxidizing agents such as peroxides.
  p
    | Monosaccharides can also join together to form polysaccharides using linkages
    | known as alpha and beta glycosidic linkages. Alpha linkages point down, away from
    | the aldehyde or ketone group, while beta linkages point up in the same direction.

section
  h2 9.5 Know structural and storage polysaccharides
  p
    | Polysaccharides are found in plants and animals in a variety of roles, including
    | structural and storage molecules. In plants, the main storage polysaccharide is
    | starch, while glycogen is found in animals. Starch comes in two primary forms,
    | amylose and amylopectin, where the less-common amylose contains branches and amylopectin
    | does not.
  p
    | The most important structural polysaccharide in plants is cellose, a polymer of
    | glucose molecules. Cellulose provides structural strength in plants, but can also
    | be softer like in cotton. In cellulose, the polysaccharide strands are parallel and
    | can form ribbons from strong intermolecular interactions.

section
  h2 9.6 Understand the functions of glycoproteins
  p
    | Glycoproteins are proteins that contain carbohydrate chains formed by either
    | <b>N</b> or <b>O</b> glycosidic bonds. These proteins are commonly found on
    | cellular membranes and perform a variety of functions, including receptor
    | sites as in antibodies. For example, glycoprotein antibodies found on the
    | surface of blood cells are the determinant for a person's blood type using the
    | ABO blood type system.

style
  include:scss conspectus.scss
