.cover-page
  h1 Principles of Biochemistry I
  br
  h2 Fall 2018
  h3 Forrest Desjardins

.chapter
  include 01.pug

.chapter
  include 02.pug

.chapter
  include 03.pug

.chapter
  include 04.pug

.chapter
  include 05.pug

.chapter
  include 06.pug
