div(style="height: 100%; width: 100%; display: flex; flex-flow: column; align-items: center; justify-content: center; padding-bottom: 15%;")
  h1 Principles of Biochemistry I
  br
  h2 Fall 2018
  h3 Forrest Desjardins

article
  include 01.pug
article
  include 02.pug
article
  include 03.pug
article
  include 04.pug
article
  include 05.pug
article
  include 06.pug
