include mixins.pug

style
  include:scss style.scss

.card
  .front
    .question
      p The Billing department of a firm has been keeping an np chart on defective They sample 50 invoices a week and over the past year theiruestion:
      p The Billing department of a firm has been keeping an np chart on defective invoices. They sample 50 invoices a week and over the past year their average number of defective invoices has been 4.1. In order to save time, they are going to reduce the sample size to 40.
      p What are the new control limits for the np chart with sample size of 40?
    .choices
      ul
        li 0 and 9.920
        li 2.182 and 6.018
        li 0 and 9.854
        li 0 and 7.936
  .back
    .answer
      h1 0 and 9.854

.card
  .front
    .question
      p Which of the following tools is used extensively in quality function deployment (QFD)?
    .choices
      ul
        li Cause and effect diagram
        li Activity network diagram
        li Affinity diagram
        li Matrix diagram
  .back
    .answer
      h1 Matrix diagram

.card
  .front
    .question
      p Why can items such as bins, floors, benches and racks be used as part of a visual factor?
    .choices
      ul
        li These items can be used to communicate information.
        li The items can be kept clean and orderly.
        li Items such as floors, bins benches and racks can be used for storage.
        li Items such as bins and benches can be arranged by order of operation.
  .back
    .answer
      h1 These items can be used to communicate information.

.card
  .front
    .question
      p The design failure mode and effects analysis should be completed before which of the following?
    .choices
      ul
        li Performance testing
        li Prototype testing
        li Production drawings are released for tooling
        li Severity changes
  .back
    .answer
      h1 Production drawings are released for tooling

.card
  .front
    .question
      p Suppose I have a process in Statistical Control. When I compare the natural process limits to the specification limits I find that there are 10% of the parts above the USL, but none below the LSL.
    .choices
      ul
        li What is the first step I should take to improve the % defective?
        li Reduce the process variability.
        li Nothing. We’re screening the defectives out and reworking them later
        li Retarget the process.
        li Talk to engineering about changing the specifications.
  .back
    .answer
      h1 Retarget the process.

.card
  .front
    .question
      p Statistical process control (SPC) is best defined as the use of:
    .choices
      ul
        li inputs to control critical and complex processes
        li statistical methods to identify and remove manufacturing errors
        li statistical methods to understand and control a process
        li Pareto charts to understand and control a process
  .back
    .answer
      h1 statistical methods to understand and control a process

.card
  .front
    .question
      p An automotive parts supplier uses a robotic welding process for metal assemblies. Welded parts are then inspected, and if failed, are subjected to manual welding to correct any welding deficiencies.
      p This supplier is faced with increased operating costs and diminishing margins, and as a result is in search for cost-cutting measures.
      p Which of the following can be considered an option for improving the above mentioned process?
    .choices
      ul
        li Research other options for metal assembling that can achieve better energy savings.
        li Increase inspection of the robotic welding step to reduce failure rate.
        li Convert the manual welding into robotic to save on labor costs.
        li Conduct a value stream mapping of the process to eliminate a rework step.
        li Provides relationship between two variables, and provides a visual correlation coefficient.
  .back
    .answer
      h1 Conduct a value stream mapping of the process to eliminate a rework step.

.card
  .front
    .question
      p Provides relationship between two variables, and provides a visual correlation coefficient.
    .choices
      ul
        li Statistical Process Control
        li Pareto Chart
        li Control Chart
        li Scatter Diagram
  .back
    .answer
      h1 Scatter Diagram

.card
  .front
    .question
      p Which of the following situations illustrates the lean concept of “pull”?
    .choices
      ul
        li The upstream operation produces to the schedule provided by the downstream operation.
        li The upstream operation's production is synchronized to provide the downstream operation just-in-time.
        li The upstream operation sets the pace for the downstream operation's production.
        li Nothing is produced by the upstream operation until the downstream operation communicates it is ready.
  .back
    .answer
      h1 Nothing is produced by the upstream operation until the downstream operation communicates it is ready.

.card
  .front
    .question
      p Which six sigma role is most likely to define objectives for an improvement team?
    .choices
      ul
        li Leader
        li Sponsor
        li Facilitator
        li Member
  .back
    .answer
      h1 Sponsor

.card
  .front
    .question
      p The first five measurements taken in sequence from a process are:
      p 10, 14, 12, 13, 21
      p What is the average moving range?
    .choices
      ul
        li 2.75
        li 3.75
        li -2.75
        li 3
  .back
    .answer
      h1 3.75

.card
  .front
    .question
      p Data coming basically from GO/NO-GO, pass/fail determinations of whether units conform to standards.
    .choices
      ul
        li Attribute Data
        li Variable Data
        li Sample Size
        li Discrete Data
  .back
    .answer
      h1 Attribute Data

.card
  .front
    .question
      p A Green Belt wishes to determine the primary pattern (positional, cyclical or temporal pattern) of variation in a process or product. Which of the following techniques would be most useful?
    .choices
      ul
        li Multi-Vari
        li Full Factorial
        li Orthogonal Array
        li Analysis of Variance
  .back
    .answer
      h1 Multi-Vari

.card
  .front
    .question
      p A point outside the control limits is a signal of the likely occurrence of:
    .choices
      ul
        li A chance cause
        li A trend
        li Common-cause variation
        li Special-cause variation
  .back
    .answer
      h1 Special-cause variation

.card
  .front
    .question
      p If all of the sample sizes are equal, which one of the following charts is the most appropriate to substitute for a u chart?
    .choices
      ul
        li np chart
        li I chart
        li c chart
        li p chart
  .back
    .answer
      h1 c chart

.card
  .front
    .question
      p The degrees of freedom for a contingency table containing 3 rows and 4 columns is:
    .choices
      ul
        li 6
        li 11
        li 7
        li 12
  .back
    .answer
      h1 6

.card
  .front
    .question
      p One of the most common measures of variability in a data set or population.
    .choices
      ul
        li Normal Distribution
        li Alpha Risk
        li Mean
        li Standard Deviation
  .back
    .answer
      h1 Standard Deviation

.card
  .front
    .question
      p Which of the following was one of Shewhart’s contributions to the foundation of the Six Sigma methodology and tools?
    .choices
      ul
        li He experimented, identified, and documented the concept of the “Hawthorne effect.”
        li He created and used control charts, and he introduced the concept of statistical quality control.
        li He was the first to describe and define the Six Sigma DMAIC approach to continuous improvement.
        li He first promoted the idea that any process variation from a desired target value was a loss to society.
  .back
    .answer
      h1 He created and used control charts, and he introduced the concept of statistical quality control.

.card
  .front
    .question
      p Which distribution listed below is formed by the distribution of sample variances?
    .choices
      ul
        li Student t
        li F
        li Chi-Square
        li Exponential
  .back
    .answer
      h1 Chi-Square

.card
  .front
    .question
      p The right hand side of a completed "house of quality" (HOQ) displays rankings and values for:
    .choices
      ul
        li Customer needs or desires
        li Competitive assessments or comparisons
        li Design feature measurements and importance
        li Design feature interactions
  .back
    .answer
      h1 Competitive assessments or comparisons

.card
  .front
    .question
      p An FMEA is being constructed for the manufacture of a syringe cartridge. The team has developed risk ranking scale criteria for calculating the RPN.
      p The team has assigned five values for ranking likelihood of occurrence (O), 10 values for ranking the risk associated with severity (S), and five values for ranking the risk associated with detection (D).
      p Using this method will most likely do which of the following?
    .choices
      ul
        li Ensure all values for O, S, and D are equally represented in RPN.
        li Give severity a disproportionate representation in RPN.
        li Ensure RPN reflects the priority for addressing failure modes.
        li Give occurrence and severity an equal representation in RPN.
  .back
    .answer
      h1 Give severity a disproportionate representation in RPN.

.card
  .front
    .question
      p In contingency tables, the null hypothesis is that the probabilities for each outcome are independent is based on using which of the following measurements?
    .choices
      ul
        li Standard Deviations
        li Means
        li Variances
        li Proportions
  .back
    .answer
      h1 Proportions

.card
  .front
    .question
      p When manufacturing a product, which of the following options is an element of continuous flow?
    .choices
      ul
        li Takt time
        li Mass production
        li Kaizen
        li Muda
  .back
    .answer
      h1 Takt time

.card
  .front
    .question
      p Which of the following is an example of an activity that adds to the Cost of Quality?
    .choices
      ul
        li An inline pH test of milk before final formulation.
        li Regular online updates to anti-virus software.
        li Refining of crude oil to produce high quality unleaded gasoline.
        li Addition of safety relief valve to pressure vessels being produced.
  .back
    .answer
      h1 An inline pH test of milk before final formulation.

.card
  .front
    .question
      p Which of the following is a group of experimental runs conducted under relatively homogeneous conditions?
    .choices
      ul
        li Response variable
        li Experimental error
        li Interaction
        li Block
  .back
    .answer
      h1 Block

.card
  .front
    .question
      p In Analysis of Variance, the F-statistic is a ratio that compares:
    .choices
      ul
        li The variation caused by treatments to total sum of squares.
        li The variation between treatments to variation within treatments.
        li The variation within treatments to variation caused between the treatments.
        li The variation within treatments to total sum of squares.
  .back
    .answer
      h1 The variation between treatments to variation within treatments.

.card
  .front
    .question
      p The statistics that summarize a population are referred to as
    .choices
      ul
        li categorical statistics
        li descriptive statistics
        li probabilistic statistics
        li control statistics
  .back
    .answer
      h1 descriptive statistics

.card
  .front
    .question
      p Customer satisfaction is primarily driven by which of the following?
    .choices
      ul
        li Capturing customer feedback through multiple methods (e.g., surveys, complaints, etc.)
        li The ability of a product or service to meet the needs of a user or purchaser
        li Delivering quality and product features that exceed those provided by competitors
        li Identifying both the stated and unstated needs of customer segments
  .back
    .answer
      h1 The ability of a product or service to meet the needs of a user or purchaser

.card
  .front
    .question
      p If the 6σ spread for a process is equal to six and the process average is equal to sixteen, what should the lower specification limit be set at to ensure less than .135% of the process output is rejected?
    .choices
      ul
        li 30
        li 15
        li 13
        li 12
  .back
    .answer
      h1 12

.card
  .front
    .question
      p A 23 full factorial design with 2 replications per cell requires _____ runs.
    .choices
      ul
        li 2
        li 12
        li 3
        li 16
  .back
    .answer
      h1 16

.card
  .front
    .question
      p Six Sigma Manager is scheduling and tracking the progress of critical project tasks within a project. Which of the following is most likely to be the best tool he can use?
    .choices
      ul
        li Gantt chart
        li PERT chart
        li Project charter
        li Critical Path Method
  .back
    .answer
      h1 Gantt chart

.card
  .front
    .question
      p Which of the following best describes the structure of a response surface design of experiment?
    .choices
      ul
        li Factor settings are viewed at defined points.
        li Factor settings are constrained.
        li Each treatment occurs one in every row.
        li Several factors are investigated.
  .back
    .answer
      h1 Factor settings are viewed at defined points.

.card
  .front
    .question
      p All of the sample sizes are equal. Which of the following charts is the most appropriate to substitute for a p chart?
    .choices
      ul
        li I chart
        li np chart
        li c chart
        li u chart
  .back
    .answer
      h1 np chart

.card
  .front
    .question
      p Which of the following tools is used to translate broad requirements into specific requirements?
    .choices
      ul
        li A quality control plan
        li The theory of constraints (TOC)
        li A critical to quality (CTQ) tree
        li A process flowchart
  .back
    .answer
      h1 A critical to quality (CTQ) tree

.card
  .front
    .question
      p The ANOVA method for analyzing a gage study is preferred over the Average and Range method because it:
    .choices
      ul
        li includes interactions between operators and items being measured
        li uses constant values from lookup tables to estimate variation
        li is more likely to identify inconsistent measurements within the study
        li makes calculations easier to perform by hand
  .back
    .answer
      h1 includes interactions between operators and items being measured

.card
  .front
    .question
      p An operator is expected to assemble certain parts without error. Each assembly may be different depending on the customer order. Which of the following is the best example of error-proofing for this situation?
    .choices
      ul
        li Standardized work instructions are written and posted at the operations. These contain instructions for all the assemblies.
        li Each operator is trained on which parts go into each assembly being made available to customers.
        li When the operator begins putting together an assembly, only the bins containing the parts for that assembly light up.
        li When the operator begins putting together an assembly, he or she is given a list containing only the parts for that assembly.
  .back
    .answer
      h1 When the operator begins putting together an assembly, only the bins containing the parts for that assembly light up.

.card
  .front
    .question
      p If events A and B are mutually exclusive, then how does this impact the occurrence of A and B?
    .choices
      ul
        li P(A ∩ B) = P(A)P(B)
        li At least one of them will occur.
        li A and B cannot occur simultaneously.
        li P(A - B) = P(B)
  .back
    .answer
      h1 A and B cannot occur simultaneously.

.card
  .front
    .question
      p Concerning the values of a variable, as opposed to attribute datA. A dimensional value can be recorded and is only limited in value by the resolution of the measurement system.
    .choices
      ul
        li Factors
        li Elementary Outcomes
        li Variable Data
        li Normal Distribution
  .back
    .answer
      h1 Variable Data

.card
  .front
    .question
      p A Green Belt wishes to sample castings due to some parts being out of tolerance. Which of the following multi-vari sampling techniques would be used for batch to batch sampling?
    .choices
      ul
        li Cyclical
        li DOE
        li Temporal
        li Positional
  .back
    .answer
      h1 Cyclical

.card
  .front
    .question
      p An electronics company is working on the design of a new smart phone. The company collected feedback data from its customers on their requirements and expectations on the new phone.
      p Which of the following tools can help the company in integrating customer feedback into the design features of the phone?
    .choices
      ul
        li Control charts
        li Quality Function Deployment
        li Design of Experiments
        li Stratification
  .back
    .answer
      h1 Quality Function Deployment

.card
  .front
    .question
      p A branch of applied statistics dealing with planning, conducting, analyzing, and interpreting controlled tests to evaluate the factors that control the value of a parameter or group of parameters.
    .choices
      ul
        li Random Experiment
        li Probability
        li Six Sigma
        li Design of Experiments
  .back
    .answer
      h1 Design of Experiments

.card
  .front
    .question
      p A company is testing a new material it developed and has designed an experiment to determine how temperature and pressure impact the strength of the material. Temperature and pressure have two levels (high and low), and the experiment is set up to be repeated once.
      p Which comparison will provide the company with an estimate of the experimental error?
    .choices
      ul
        li Difference measured between high pressure and low pressure results
        li Difference measured between high pressure and high temperature results
        li Difference measured across all combinations
        li Difference measured between first and second runs of the same combinations
  .back
    .answer
      h1 Difference measured between first and second runs of the same combinations

.card
  .front
    .question
      p Which of the following is true about short-term process capability?
    .choices
      ul
        li It is generally calculated under controlled conditions with a small number of subgroups (20-30).
        li Cp and Cpk are usually smaller than Pp and Ppk
        li It is represented by Pp and Ppk.
        li It is usually about the same as long-term process capability
  .back
    .answer
      h1 It is generally calculated under controlled conditions with a small number of subgroups (20-30).

.card
  .front
    .question
      p An insurance company is attempting to address minor issues with its claims payment process. If it chooses to use the PDSA cycle popularized by Deming, what would be the correct order of steps to take?
      ol
        li Implement the desired changes with a pilot program.
        li Measure the performance of the modified process.
        li Identify what changes to the claims process should be made.
        li Integrate successful results into the existing claims process.
    .choices
      ul
        li 3, 2, 1, 4
        li 4, 3, 1, 2
        li 1, 4, 2, 3
        li 3, 1, 2, 4
  .back
    .answer
      h1 3, 1, 2, 4

.card
  .front
    .question
      p Which of the following statements best describes why companies find implementing lean to be valuable?
    .choices
      ul
        li Lean prevents errors or mistakes from producing waste in the production cycle.
        li Lean translates customer requirements into technical specifications to assure outstanding products or services are produced.
        li Lean creates value for the organization by systematically identifying and eliminating waste.
        li Lean ensures that processes operate so that products or services meet or exceed customer requirements.
  .back
    .answer
      h1 Lean creates value for the organization by systematically identifying and eliminating waste.

.card
  .front
    .question
      p Which diagram depicts the most efficient sequence of events possible for a project?
    .choices
      ul
        li Tree diagram
        li Activity network diagram
        li Affinity diagram
        li Fishbone diagram
  .back
    .answer
      h1 Activity network diagram

.card
  .front
    .question
      p A Six Sigma Green Belt is evaluating the correlation between two variables. She has heard that it is critical to be aware that correlation does not always imply causation.
      p The best way to determine if there is a causation is to:
    .choices
      ul
        li Plot the variables on a scatter plot
        li Calculate the correlation coefficient, and if over 1, it is causation
        li Make the independent variable the X-Variable
        li Conduct an observational study or a well-designed experiment
  .back
    .answer
      h1 Conduct an observational study or a well-designed experiment

.card
  .front
    .question
      p A process that crosses through multiple departments in a company can present challenges for improvement efforts because:
    .choices
      ul
        li Cross-functional teams dilute the knowledge of the group
        li It slows the progression of normal team-building
        li Two or more areas may think they own the process
        li Management support is more difficult to obtain.
  .back
    .answer
      h1 Two or more areas may think they own the process
