a,
blockquote,
p,
.chapter,
h1,
h2,
h3,
h4,
h5,
h6 {
  page-break-after: avoid;
  page-break-inside: avoid;
}
section {
  > h1,
  > h2,
  > h3 {
    page-break-after: avoid;
  }
}
img {
  page-break-inside: avoid;
  page-break-after: avoid;
}
table,
pre {
  page-break-inside: avoid;
}
ul,
ol,
dl {
  page-break-before: avoid;
}
.chapter {
  page-break-before: always;
}

// 2 columns hack
// @page {
//   margin: 2cm 1cm;
// }
// article {
//   column-count: 2;
//   column-gap: 1.5cm;
//   column-rule: thin solid #999;
// }
