body {
  font-family: 'Libre Baskerville', serif;
}

h1 {
  font-size: 2em;
  line-height: 2em;
}
h2 {
  font-size: 1.75em;
  line-height: 1.5em;
}
h3 {
  font-size: 1.35em;
}
h4 {
  font-size: 1.15em;
}
h5 {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Libre Franklin';
  font-weight: 400;
}

p,
a {
  font-size: 1em;
}
